body {
  background: #555DFF;
  background-image: url('spaceBG.jpg');
  color: #FFCC00;
  font-family: 'Lato', sans-serif;
  line-height: 2.1;
}

img {
  border-radius: 50%;
  max-width: 20%;
  padding-left: 40%;
}

h1, p, h4 {
  text-align: center;
}

#root {
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  flex-wrap: wrap;
  display: inline-flex;
}

.box {
  margin: .5rem;
  border: 1px double yellow;
  border-radius: 5px;
  box-shadow: 2px 4px 25px rgba(63, 127, 191, .3);
  overflow: hidden;
}

.box:hover {
  box-shadow: 5px 18px 70px rgba(63, 127, 191, .5);
  transform: translate3D(0, -10px, 0);
}

p {
  padding: 10px;
  box-shadow: 2px 4px 25px rgba(63, 127, 191, .9);

  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .box {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .box {
    flex: 1 1 calc(33% - 2rem);
  }
}
